* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --text-color: #ffffff;
  --sub-text-colour: #374754;
  --header-background-color: rgba(117, 190, 218, 0);

  scroll-behavior: smooth;
  font-family: "Orbitron", sans-serif;
}
img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1500px;
  margin: 10px 10px 10px 10px;
}

button {
  background-color: aqua;
}

/* Clock */

body {
  background-image: url("./img/depositphotos_301374900-stock-photo-top-view-smartphone-blank-screen.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#date {
  color: #9dff00e0;
  font-size: 25px;
  width: 250px;
}
.big__clock {
  color: #9dff00e0;
  font-size: 25px;
  width: 250px;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px 20px 10px;
}
.header__text {
  color: #ffffff;
  font-size: 35px;
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
}

.clock__container {
  display: flex;
  flex-direction: row;
}

.main__container {
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1, 5;
}

.to__do {
  color: #9dff00e0;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 25px;
}

.add__task label {
  margin-left: 45px;
  font-size: 25px;
  color: #9dff00e0;
  margin-right: 10px;
}

/* Tasks list */
li {
  overflow: hidden;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
.incomplete__tasks li input {
  margin-left: 25px;
}
li > input[type="text"] {
  width: 226px;
}
li > .delete:hover {
  color: #cf2323;
}

.completed {
  color: #9dff00e0;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 25px;
}
.completed__tasks li label {
  text-decoration: line-through;
  color: var(--text-color);
}

/* Edit Task */
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
}

ul li.editMode label {
  display: none;
}

/* клас додається при натисканні на кнопку new__task-btn */
.message {
  color: aqua;
  margin-left: 200px;
}

/* greeting */
.greeting {
  color: #9dff00e0;
  font-size: 30px;
  padding-left: 150px;
}

/* // для менших екранів */
@media (max-width: 1400px){
  .header {
    background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1;
  }
  
  
}

@media (max-width: 750px){
  #date {
    color: #9dff00e0;
    font-size: 15px;
    width: 250px;
  }
  .big__clock {
    color: #9dff00e0;
    font-size: 155px;
    width: 100px;
  }

  .header__text {
    color: #ffffff;
    font-size: 25px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }

  .add__task {
    display: flex;
    flex-direction: column;
  }

  
}
